@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,400&family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,400&family=Roboto:wght@500&family=Russo+One&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Russo One", sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}
.logo-left {
  height: 76px;
  width: 76px;
}

.nav-left-content {
  color: #149f39;
  font-size: 24px;
  padding-top: 30px;
  font-weight: 400;
  line-height: 19px;
  word-wrap: break-word;
}
.caps {
  color: #149f39;
  font-size: 48px;

  font-weight: 400;
  line-height: 19px;
}

.logo-right {
  padding-top: 23px;
}

/* HERO  SECTION */

.hero-section {
  display: flex;
  margin-top: 60px;
}

.hero-section-left {
  width: 50%;
  margin-left: 35px;
}

.herosection-left-img {
  width: 505px;
  height: 505px;
}

.hero-section-right {
  margin-top: 55px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.herosection-right-para {
  background-color: #149f39;
  width: 205px;
  height: 35px;
  color: white;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-align: center;
  padding: 9px;
}

.herosection-right-heading {
  color: black;
  font-size: 72px;

  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.herosection-subheading {
  color: black;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 19px;
  width: 363px;
  height: 35px;
  margin-top: -15px;
}

.herosection-button {
  font-family: "Roboto", sans-serif;
  width: 174px;
  height: 57px;
  background-color: #ffc066;
  text-align: center;
  padding-top: 14px;
  color: white;
  cursor: pointer;
  font-size: 24px;

  font-weight: 500;
  /* line-height: 19px; */
}

.facilities {
  display: flex;
  margin-top: 7rem;
  justify-content: center;
  width: 878px;
  height: 109px;
  margin-left: 10rem;
  gap: 2rem;
}

.commonfacility {
  display: flex;
  /* width: 37%; */
  gap: 1rem;
}

.facility-content {
  display: flex;
  flex-direction: column;
  width: 188px;
  height: 38px;
  padding-top: 9px;
  gap: 4px;
}

.facility-image-1 {
  width: 80px;
  height: 83px;
}

.facility-image-2 {
  padding-top: 5px;
  width: 64px;
  height: 64px;
}

.facility-image-3 {
  width: 70px;
  height: 70px;
}

.facility-head {
  color: black;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 19px;
}

.facility-content p {
  color: black;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  /* font-weight: 300; */
  line-height: 19px;
  letter-spacing: 0.42px;
}

.horizontal-row hr {
  border: 1px solid #b7b7b7;
  width: 100%;
  height: 100%;
}

.gallery-section {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
}

.gallery-heading {
  color: white;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: #149f39;
  width: 137px;
  height: 43px;
  text-align: center;
  padding-top: 7px;
}

.gallery-sub-heading {
  margin-top: 2rem;
  color: black;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.gallery-container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-left: -10px;
}

.img1 {
  width: 585px;
  height: 585px;
}

.img2 {
  width: 276px;
  height: 585px;
}

.img3 {
  width: 277px;
  height: 274px;
}

.img4 {
  width: 277px;
  height: 277px;
}
.img5 {
  width: 277px;
  height: 277px;
}
.img6 {
  width: 278px;
  height: 278px;
  margin-left: -1px;
}
.img7 {
  margin-top: -304px;
  width: 279px;
  height: 581px;
  margin-left: -3px;
}



.footer{
   margin-top: 10rem;
  background-color: #FFF0DB;
  
}

.container-1{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 7rem;
  /* margin-top: 10rem; */
  margin-left: 16rem;
  padding-bottom: 8rem;
}

.footer-part-1{
  display: flex;
  align-items: center;
  margin-top:1rem;
}

.footer-part-2{
  margin-top: 5rem;

}

.footer-part-3{
  margin-top: 5rem;
}

.footer-part-4{
  margin-top: 5rem;
}


.container-1 h2{
  color: #565656;
font-size: 18px;
font-family: "Roboto", sans-serif;
font-weight: 600;
line-height: 19px;
}

.heading-4 h4{
  color: black;
font-size: 14px;
font-family: "Roboto", sans-serif;
font-weight: 300;
line-height: 19px;
padding-top: 8px;
}

.heading-4{
  margin-top: 18px;
  
}

.footer-input{
  width: 265px;
  height: 24px;
  color: black;
  margin-top: 18px;
font-size: 12px;
font-family: "Roboto", sans-serif;
font-weight: 300;
line-height: 19px;
padding-left: 3px;
}

.socialmedia-logo{
  margin-top: 18px;
  
}

.footer-logos{
  display: flex;
  gap: 1.5rem;
  margin-top: 22px;
}